@{
    ViewBag.Title = "Hello World";
}
<h2>@ViewBag.Message</h2>
<br />
<script type="text/javascript">
    var world = $.connection.world;
    $(document).ready(function () {
        world.updateExplorer = function (explorer) {
            var explorer = jQuery.parseJSON(explorer);
            alert(explorer.Name + " has moved");
        };
        $("#tryIt").click(function () {
            var explorer;
            explorer = "{'name':'Panda','statusmessage':'I am Panda!','location':{x:10,y:10}}";
            world.explore(explorer);
        }); 
        $.connection.hub.start();
    });
</script>
<div>
    <div class="events">
    </div>
    <br />
    <input id="tryIt" type="button" value="Try It!" />
</div>
