<div>
    <div class="world">
        <div class="latitude">
            <div class="longtitude">
            </div>
            <div class="longtitude">
            </div>
            <div class="longtitude">
            </div>
            <div class="longtitude">
            </div>
            <div class="longtitude">
            </div>
        </div>
        <div class="latitude">
            <div class="longtitude">
            </div>
            <div class="longtitude">
            </div>
            <div class="longtitude">
            </div>
            <div class="longtitude">
            </div>
            <div class="longtitude">
            </div>
        </div>
        <div class="latitude">
            <div class="longtitude">
            </div>
            <div class="longtitude">
            </div>
            <div class="longtitude">
            </div>
            <div class="longtitude">
            </div>
            <div class="longtitude">
            </div>
        </div>
        <div class="latitude">
            <div class="longtitude">
            </div>
            <div class="longtitude">
            </div>
            <div class="longtitude">
            </div>
            <div class="longtitude">
            </div>
            <div class="longtitude">
            </div>
        </div>
        <div class="latitude">
            <div class="longtitude">
            </div>
            <div class="longtitude">
            </div>
            <div class="longtitude">
            </div>
            <div class="longtitude">
            </div>
            <div class="longtitude">
            </div>
        </div>
    </div>
</div>
